@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    font-family: 'Sarala', sans-serif;
    background: linear-gradient(135deg, #6c9c5d 20%, #3f3f3f 80%);
    color: #f5f5f5;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 64px;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ffffff33;
}

.cabecalho-imagem {
    height: 80px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #f0eae2;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s;
}

.cabecalho-menu-item:hover {
    color: #c3e6cb;
}

.conteudo {
    margin-bottom: 64px;
    border-top: 1px solid #ffffff33;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 64px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 600px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-size: 64px;
    color: #f9f9f9;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ddd3c7;
}

.conteudo-principal-escrito-botao {
    background-color: #ddd3c7;
    width: 200px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #2f2325;
    cursor: pointer;
    transition: background-color 0.3s;
}

.conteudo-principal-escrito-botao:hover {
    background-color: #e9dbcc;
}

.conteudo-principal-imagem {
    height: 420px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #FFF2EF;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ECD6C4;
}
.rodape {
    padding: 32px;
    border-top: 1px solid #ffffff33;
    background-color: rgba(0, 0, 0, 0.1);
}

.rodape-imagem {
    height: 120px;
    display: block;
    margin: 0 auto;
}

.rodape-texto{
    display: block;
    text-align: center;
    margin: 0 auto;
}
